.inboxWrapper {
    max-width: 350px;
    margin: 0;
    padding: 0;
    background-color: #CDB8F0;

    .inboxContainer {
        text-align: center;
        padding: 10px;

        img {
            float: right;
        }
    }
}

.contentWrapper {
    min-width: 0;
    width: 100%;
    padding: 0;

    .contentContainer {
        margin-left: -15px;

        .main {
            font-size: 25px;
                    
            /* .messageWrapper {
                display: flex;
                flex-direction: column;
                     
                .messageReceive {

                }
        
                .inputForm {
                    justify-content: flex-end;
                }
            } */
        }
    }

    .messageWrapper {
        display: flex;
        flex-direction: column;

        .inputForm {
            margin-top: auto;
        }
    }
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}
