body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #C3A5F1;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav button {
    padding: 6px 8px 6px 16px;
    text-decoration: None;
    text-align: center;
    font-size: 25px;
    color: #000000;
    display: block;
    background-color: transparent;
    border: transparent;
}

.sidenav button:hover {
    color: #3b052b;
}

.main {
    margin-left: 160px;
    /* Same as the width of the sidenav */
    font-size: 28px;
    /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

/* setting */


// button  {position: absolute;
// width: 48px;
// height: 55px;
// left: 71px;
// top: 991px;

// font-family: 'arial';
// font-style: normal;
// font-weight: 900;
// font-size: 48px;
// line-height: 55px;

// color: #000000;
// }